
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #111;
  color: #f1f1f1;
}

.full-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.top-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #d4af37;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffffff;
}
